.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App textarea {
  resize: none;
  width: 50%;
  min-height: 100px;
}

.App button, 
.App input {
  margin-top: 10px;
}
